/* About.css */
*
{
    padding: 0;
    margin: 0;
}
  .bg-image
  {
    background-image: url("Soccer 1(1).png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 900px;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;
  }
  
  .bg-green-600 {
    background-color: #16a34a;
   
  }
  
  
  .w-svw {
    width: 100vw; 
  }
  
  .p-40 {
    padding: 5rem; 
  }
  
  .flex {
    display: flex; 
  }
  
  .flex-wrap {
    flex-wrap: wrap; 
  }
  
  .gap-4 {
    gap: 1rem; 
  }
  
  .justify-center {
    justify-content: center; 
  }
  
  .contact-info-square {
    background-color: #a8fabc; 
    border: 2px solid #8b8787; 
    border-radius: 10px;
    overflow: hidden; 
    padding: 0; 
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
    width: 17rem; 
    height: 25rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }
  .spacer {
    width: 2rem; 
  }
  
  .contact-info-square:nth-child(2n) {
    margin-top: 8rem; 
  }

  
  .contact-info-square:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .contact-info-square img {
    width: 100%;
    height: 70%; 
    object-fit: cover;
    border-bottom: 2px solid #f9f2f264; 
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
   
  }
  .section-container {
    margin-top: 0;
  margin-bottom: 2rem; 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  gap: 15rem; 


  }
  .contact-info-square::before {
    content: ''; 
    position: absolute; 
    top: calc(130% - 2rem); 
    left:  calc(12% - 1.5rem);; 
    width: 4rem; 
    height: 4rem; 
    background-color: #938888d0;
    border-radius: 4px; 
  }

  .contact-info-square:nth-child(2)::before {
    left:  calc(40% - 1.5rem); 
    
    top: calc(75% - 2rem); 
  }

  .contact-info-square:nth-child(3)::before {
    left: calc(65% - 1.5rem); 
    
  }

  .contact-info-square:nth-child(4)::before {
    left:  calc(90% - 1.5rem); 
    
    top: calc(75% - 2rem);
  }


  
  .w-40 {
    width: 5rem; 
  }
  
  .h-20 {
    height: 5rem; 
  }
  
  .rounded-full {
    border-radius: 9999px; 
  }
  
  .text-lg {
    font-size: 1.5rem; 
    font-weight: 600; 
    margin-top: 0.5rem; 
    color: #000;
  }
  .social-icons {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    margin-bottom: 0.5rem;
  }
  
  .social-icons i,
  .social-icons svg {
    font-size: 1.5rem;
    color: #000; 
    transition: color 0.2s; 
  }
  
  .social-icons i:hover,
  .social-icons svg:hover {
    color: #16a34a; 
  }